<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>من نحن - FAYZO</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- استبدل taxi_logo.webp بشعارك الجديد -->
        <img src="{{ url_for('static', filename='images/taxi_logo.webp') }}" alt="شعار الموقع" class="logo">

        <h2>من نحن</h2>
         <!-- 🔹 زر العودة إلى الصفحة الرئيسية -->
         <button onclick="window.location.href='/home'" class="primary-button">🏠 العودة إلى الصفحة الرئيسية</button>
         
        <p>تم تصميم هذا الموقع خصيصًا لدعم السائقين والركاب في معرفة مستحقاتهم المالية بناءً على المسافة والزمن المستغرق، وذلك بطريقة دقيقة وعادلة</p>
        <p>نسعى لتحقيق الشفافية الكاملة في حساب الأجرة، مما يساعد السائق على ضمان الحصول على حقوقه دون أي تلاعب، وكذلك يضمن للراكب معرفة تفاصيل التكاليف</p>
        
        <div style="text-align: center; margin-top: 20px;">
            <p><strong>اسم المشروع</strong></p>
            <h3 style="margin: 5px 0;">FAYZO</h3>
        </div>                                         
        <p><strong>مالك الموقع:</strong> سامر الفيفي</p>
        <p><strong>📞 للتواصل:</strong> 0535620007</p>
        <footer>
            <p>&copy; 2025 جميع الحقوق محفوظة. لا يُسمح بإعادة نشر أو توزيع أي جزء من هذا الموقع دون إذن مسبق من المالك.</p>
        </footer>
    </div>
</body>
</html>
